<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club del entretenimiento</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>
    <nav class="navbar bg-dark navbar-dark">
        <div class="container p-1 justify-content-center">
            <a class="navbar-brand" href="/libros">Libros</a>
            <a class="navbar-brand" href="/peliculas">Películas</a>
            <a class="navbar-brand" href="/musica">Discos de música</a>
        </div>
    </nav>